<div class="row">
  <div class="col-md-10 col-md-push-1">
    <div class="question-content">
      <h4 class="sm">Part I: Picture Description</h4>
      <p class="text-justify">
        <b>Directions: </b>For each question, you will see a picture and you will hear four short statements. The
        statements will be spoken just one time. They will not be printed in your test book so you must listen
        carefully to understand what the speaker says. When you hear the four statements, look at the picture and
        choose the statement that best describes what you see in the picture. Choose the best answer A, B, C or D
      </p>
      <img src="https://toeic24.net/upload/img/part_1.png" style="width: 100%">
      <div class="answer">
        <div class="audioplayer"><audio preload="auto" controls="" style="width: 0px; height: 0px; visibility: hidden;">
            <source src="https://toeic24.net/upload/audio/part_i_intro.mp3">
          </audio>
          <div class="audioplayer-playpause" title=""><a href="#"></a></div>
          <div class="audioplayer-time audioplayer-time-current">00:00</div>
          <div class="audioplayer-bar">
            <div class="audioplayer-bar-loaded" style="width: 100%;"></div>
            <div class="audioplayer-bar-played"></div>
          </div>
          <div class="audioplayer-time audioplayer-time-duration">00:58</div>
          <div class="audioplayer-volume">
            <div class="audioplayer-volume-button" title=""><a href="#"></a></div>
            <div class="audioplayer-volume-adjust">
              <div>
                <div style="width: 100%;"></div>
              </div>
            </div>
          </div>
        </div>
        <h4 class="sm">EXAMPLE: </h4>
        <p>
          Now listen to the four statements.<br>
          Statement (D) best describes what you see in the picture.<br>
          Therefore, you should choose answer (D).
        </p>
        <ul class="answer-list">
          <li>
            <input type="radio" name="radio-1" id="radio-1" disabled="disabled">
            <label for="radio-1">
              <i class="icon icon_radio"></i>
              A. He is on the phone
            </label>
          </li>
          <li>
            <input type="radio" name="radio-1" id="radio-2" disabled="disabled">
            <label for="radio-2">
              <i class="icon icon_radio"></i>
              B. She is driving the car
            </label>
          </li>
          <li>
            <input type="radio" name="radio-1" id="radio-3" disabled="disabled">
            <label for="radio-3">
              <i class="icon icon_radio"></i>
              C. She is typing on the computer
            </label>
          </li>
          <li>
            <input type="radio" name="radio-1" id="radio-4" checked="" disabled="disabled">
            <label for="radio-4">
              <i class="icon icon_radio"></i>
              <b>D. He is sitting next to her</b>
            </label>
          </li>
        </ul>
      </div>
      <div class="form-action">
        <a class="mc-btn btn-style-1">Start</a>
      </div>
    </div>
  </div>
</div>
