<div class="container">
  <div class="searchrow row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title text-center">
          <strong>{{examCode}}</strong>
        </div>
      </div>
      <div class="panel-body">
        <hr>
        <div class="row col-md-12">
          <div class="col-md-4"></div>
          <div class="col-md-4 text-center">
            <p>Duration: 120 minutes</p>
            <p>Listening: 45 minutes</p>
            <p>Reading: 75 minutes</p>
            <button id="btnLogin" class="btn btn-primary" (click)="Click_Start()">BEGIN</button>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>
